 {% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<link rel="stylesheet" href="home.css">

<h1 align="center">Welcome to the room booking service</h1>
<br />

<h2 align="center">What would you like to do today?</h2>
<br />


<div class="col-md-12 text-center">
<a class="btn btn-primary btn-lg m-1 mt-10" href="/createbooking" role="button">Create Booking</a>
<a class="btn btn-primary btn-lg m-1" href="/existingbooking" role="button">View Existing Booking</a>
</div>


{% endblock %} 
